// color
$stone:#707070;
$wine:#891818;

//font family
$font-family-base: 'Roboto', sans-serif,-apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei",  "Helvetica Neue", Arial, sans-serif;


//path
$path: "../public/";